.choice {
	border: 1px solid #21bbff;
	width: 800px;
}
.choice span {
	display: block;
}
.choice .question {
	padding-left: 2em;
	line-height: 30px;
	font-weight: bold;
	display: block;
	font-size: 14px;
}
.choice .option {
	line-height: 30px;
	padding-left: 4em;font-size: 14px;
}
.choice .test {
	height: 36px;
	background-color: #e2e0e0;
	line-height: 36px;
	padding-left: 2em;font-size: 14px;
}
.choice .label {
	color: #21BBFF;font-size: 14px;
}
.content {
	text-indent: 2em;font-size: 14px;
}
.myanswer {
	margin-left: 100px;
	color: #f05183;
}