#book {
    border: 1px solid red;
    display: block;
    height: auto;
    padding: 0 30px 0 20px;
}

.text-align {
    text-align: justify;
    text-indent: 2em;
}

.padding-left {}

.padding-right {}

.h1 {
    background-color: green;
    line-height: 36px;
    color: #333333;
    font-size: 36px;
}

.h2 {
    background-color: orange;
    line-height: 30px;
    color: #333333;
    font-size: 30px;
}

p {
    font-size: 16px;
    background-color: pink;
    line-height:22px;
}
