#contents {
	position: absolute;
	width: 70%;
	background-color: #999;
	left: 30%;
	height: 100%;
	overflow: auto;
}
#nav {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 30%;
	background-color: #EEEEEE;
	height: 100%;
	overflow: auto;
}
#content {
	position: absolute;
	width: 100%;
	background-color: #FFFFFF;
	margin: 0 auto;
	left: 50%;
	margin-left: -50%;
	top: 0px;
}
#title {
	width: 100%;
	background-color: #0095d9;
	height: 160px;
	text-align: center;
}
#top {
	font-size: 16px;
	position: fixed;
	left: 0px;
	top: 300px;
	width: 30px;
	height: 92px;
	background-color: #f05183;
	text-align: center;
	line-height: 23px;
	cursor: pointer;
	color: #FFFFFF;
}
#top a {
	color: #FFFFFF;
}
#show {
	font-size: 16px;
	position: fixed;
	left: 0px;
	top: 200px;
	width: 30px;
	height: 92px;
	background-color: #f05183;
	text-align: center;
	line-height: 23px;
	display: none;
	cursor: pointer;
	color: #FFFFFF;
}
#hide {
	font-size: 16px;
	position: fixed;
	top: 200px;
	width: 30px;
	height: 92px;
	background-color: #0095d9;
	text-align: center;
	line-height: 23px;
	cursor: pointer;
	color: #FFFFFF;
}
#page {
	font-size: 14px;
	background-color: #F5F5F5;
	margin-top: -15px;
	height: auto;
}
ul {
	margin-left: 56%;
	margin-top: 30px;
}
li {
	display: block;
	width: 90px;
	height: 30px;
	float: left;
	line-height: 30px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	font-size: 14px;
}
.unit {
	font-size: 30px;
	color: #FFFFFF;
	margin-top: 0px;
	top: 0px;
	line-height: 140px;
}
ul {
	margin-left: 0px;
	height: 20px;
	line-height: 20px;
}
li {
	float: left;
	list-style: none;
}
.oneLi {
	width: 100px;
	height: 100px;
	margin-left: 20px;
	background-color: red;
}
li>span {
	display: block;
	width: 100px;
	height: 20px;
	text-align: center;
	line-height: 20px;
}
h3 {
	font-size: 16px;
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
}
.clean {
	clear: both;
}
#contentss {
	width: 90%;
	margin: 0 auto;
}
u {
	line-height: 20px;
	color: #cd3605;
	display: none;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
	color: #999999;
}
.answers {
	display: none;
	border: 1px solid #F05183;
	line-height: 36px;
	padding-left: 20px;
}
button {
	background-color: #0095D9;
	border-top: 0px solid #FFFFFF;
	border-bottom: 0px solid #FFFFFF;
	border-left: 0px solid #FFFFFF;
	border-right: 0px solid #FFFFFF;
	color: #FFFFFF;
}
.title {
	font-weight: bold;
}